extends base

block content
  main
    h2.page__subject invoice details
    - const paymentCount = Number(invoice.payment.length)
    if paymentCount > 0
      .table-wrapper
        .heading__title Payment Info
        table.table-data
          tr
            th payment tag
            th Description
            th Amount
            th Date 
          each payment in invoice.payment
            tr
              td= payment.tag
              td= payment.details
              td= payment.amount.toLocaleString(en-us, { style: 'currency', currency: 'USD' })
              td= payment.date.toLocaleString(en-us, {dateStyle: 'medium'})
    else
      p.empty__record no payment record exist on this invoice!

    // Horizontal Line
    .line &nbsp;
    // Resources Data Display
    .resource-details.modify-resource-invoice
      .heading__title Invoice Info
      form
        .form__div
          div(class='box-text-cell')
            p.box-title invoice no
            input#invno(type='text', value=`${invoice.invoiceNumber}`)
          div(class='box-text-cell')
            p.box-title description
            textarea#desc(rows='3' cols='48')= invoice.description
          div(class='box-text-cell')
            p.box-title sales amount
            input#salesval(type='number',step='any',value=`${invoice.salesValue}`)
          div(class='box-text-cell')
            p.box-title cost amount
            input#costval(type='number',step='any',value=`${invoice.spentValue}`)
          div(class='box-text-cell')
            p.box-title job id
            - const checkJob = invoice.job
            select#job(name='jobs', class='jobs')
              option(value= `${invoice.job ? invoice.job.id : undefined}`)= `${invoice.job ? invoice.job.jobID + ' - ' + invoice.job.jobDescription: 'Please select'}`
              if checkJob && checkJob.id.length > 0
                option(value= 'undefined') Please select
          div(class='box-text-cell')
            p.box-title class
            select#invclass(name='class')
              option= invoice.invoiceClass
              option= `${invoice.invoiceClass === 'Installation' ? 'Maintenance' : 'Installation'}`
          div(class='box-text-cell')
            p.box-title wht %
            input#whtpercent(type='number',value=`${invoice.witholdingTaxPercent}`)
          div(class='box-text-cell')
            p.box-title wht amount
            input#whtamt(type='number',step='any',value=`${invoice.witholdingTaxAmount}`)
          div(class='box-text-cell')
            p.box-title profit/loss
            input#profit-loss(type='number',step='any',value=`${invoice.profitOrLoss}`)
          div(class='box-text-cell')
            p.box-title partners payment
            input#partners-pyt(type='number',step='any',value=`${invoice.partnerPayment}`)
          div(class='box-text-cell')
            input#docid(type='hidden',value=`${invoice.id}`)
        .form__cta
          button.btn--cta--save Save settings
      br
      br
    .resource-details.delete-resource-invoice
      .heading__title Delete Invoice
      form 
        .warning Warning: This action cannot be undone. Dont click the below button on accident!
        .form__cta
          button.btn--cta--delete Delete

    .line &nbsp;

