extends base

block content
  main
    h2.page__subject Invoice Overview
    .table-wrapper
      table.table-data
        tr
          th Invoice No
          th Description
          th Applied to sales
          th Spent on project
          th payment status
          th option
        each invoice in invoices
          tr
            td= invoice.invoiceNumber
            td= invoice.invoiceDescription
            td= invoice.invoiceAppliedToSalesValue.toLocaleString(en-us, { style: 'currency', currency: 'USD' })
            td= invoice.spentOnProject.toLocaleString(en-us, { style: 'currency', currency: 'USD' })
            td= invoice.invoicePaymentStatus.toLocaleString(en-us, { style: 'currency', currency: 'USD' })
            td
             .btn--green
              a(href=`/invoice/${invoice.id}`) Details