extends base

block content
  main
    h2.page__subject invoice details
    - const paymentCount = Number(invoice.payment.length)
    if paymentCount > 0
      .table-wrapper
        .heading__title Payment Info
        table.table-data
          tr
            th payment tag
            th Description
            th Amount
            th Date 
          each payment in invoice.payment
              tr
                td= payment.paymentTag
                td= payment.paymentDetails
                td= payment.paymentAmount.toLocaleString(en-us, { style: 'currency', currency: 'USD' })
                td= payment.paymentDate.toLocaleString(en-us, {dateStyle: 'medium'})
    else
      p.empty__record no payment record exist on this invoice!

    // Horizontal Line
    .line &nbsp;
    // User Resources Data Display
    .resource-details
      .heading__title.ma-bt-lg Invoice Info
      form
        .form__div
          div(class='box-text-cell')
            p.box-title invoice no
            input#invno(type='text', value=`${invoice.invoiceNumber}`)
          div(class='box-text-cell')
            p.box-title description
            textarea#desc(rows='2' cols='40')= invoice.invoiceDescription
          div(class='box-text-cell')
            p.box-title sales amount
            input#isalesval(type='number', value=`${invoice.invoiceAppliedToSalesValue}`)
          div(class='box-text-cell')
            p.box-title cost amount
            input#costval(type='number', value=`${invoice.spentOnProject}`)
          div(class='box-text-cell')
            p.box-title job id
            input#job(type='text', value=`${invoice.job ? invoice.job.jobID : ''}`)
          div(class='box-text-cell')
            p.box-title class
            input#invclass(type='text', value=`${invoice.invoiceClass}`)
          div(class='box-text-cell')
            p.box-title wht %
            input#whtpercent(type='number', value=`${invoice.witholdingTaxPercent}`)
          div(class='box-text-cell')
            p.box-title wht amount
            input#whtamt(type='number', value=`${invoice.witholdingTaxAmount}`)
          div(class='box-text-cell')
            p.box-title profit/loss
            input#profit-loss(type='number', value=`${invoice.profitOrLoss}`)
          div(class='box-text-cell')
            p.box-title partners payment
            input#partners-pyt(type='number', value=`${invoice.invoicePartnerPayment}`)
        .form__cta
          button.btn--cta Save settings
    .line &nbsp;

