extends base

block content
  main
    h2.page__subject Invoice Overview
    .table-wrapper
      table.table-data
        tr
          th.th__size-small Invoice No
          th Description
          th.th__size-medium Applied to sales
          th.th__size-medium Spent on project
          th.th__size-medium payment status
          th.th__size-small option
        each invoice in invoices
          tr
            td= invoice.invoiceNumber
            td= invoice.description
            td= invoice.salesValue.toLocaleString(en-us, { style: 'currency', currency: 'USD' })
            td= invoice.spentValue.toLocaleString(en-us, { style: 'currency', currency: 'USD' })
            td= invoice.invoicePaymentStatus
            td
              .btn--green
                a(href=`/invoice/${invoice.slug}`) Details