extends base

block content
  main
    h2.page__subject Job details
    - const jobCount = jobStaticsCount
    
    if jobCount > 0
      .table-wrapper
        .heading__title Job Ledger
        table.table-data
          tr
            th.th__size-small Invoice
            th Description
            th.th__size-small sales value
            th.th__size-medium spent value
            th.th__size-small net
          each invoice in jobStatics[0].details
            tr
              td= invoice.invoiceNumber
              td= invoice.description
              td= invoice.salesValue.toLocaleString(en-us, { style: 'currency', currency: 'USD' })
              td= invoice.spentValue.toLocaleString(en-us, { style: 'currency', currency: 'USD' })
              td= undefined

          each invoice in jobStatics
            tr
              td
              td
              td
              td
              td
          tr
            td= undefined 
            td Grand Total
            td= jobStatics[0].totalRevenue.toLocaleString(en-us, { style: 'currency', currency: 'USD' })
            td= jobStatics[0].totalExpenses.toLocaleString(en-us, { style: 'currency', currency: 'USD' })
            td= jobStatics[0].NetProfitOrLoss.toLocaleString(en-us, { style: 'currency', currency: 'USD' }) 

    else
      p.empty__record no ledger record exist for this job!
    // Horizontal Line
    .line &nbsp;

    .resource-details.modify-resource-job
      .heading__title Job Info
      form
        .form__div
          div(class='box-text-cell')
            p.box-title job Id
            input.input-style-one#jobid(type='text',value=`${job.jobID}`)
          div(class='box-text-cell')
            p.box-title description
            textarea#desc(rows='3' cols='48')= job.jobDescription
          div(class='box-text-cell')
            p.box-title PO
            input.input-style-one#podoc(type='number',step='any',value=`${job.jobPO}`)
          div(class='box-text-cell')
            p.box-title type
            select.select-style-one#jobtype(name='type')
              option= job.jobType
              option= `${job.jobType === 'Product' ? 'Service' : 'Product'}`
          div(class='box-text-cell')
            input.input-style-one#docid(type='hidden',value=`${job.id}`)
        .form__cta
          button.btn--cta--save Save Settings
        .line &nbsp;
    .resource-details.delete-resource-job 
      .heading__title Delete Job
      form
        .warning Warning: This action cannot be undone. Dont click the below button on accident!
        .form__cta
          button.btn--cta--red Delete
        .line &nbsp;