extends base

block content
  main
    h2.page__subject Job details
    - const jobCount = jobStaticsCount
    
    if jobCount > 0
      .table-wrapper
        .heading__title Job Ledger
        table.table-data
          tr
            th.th__size-small Invoice
            th Description
            th.th__size-small sales value
            th.th__size-medium spent value
          //- each invoice in paymentStatics
          //-   tr
          //-     td= invoice.description
          //-     td= invoice.invoiceNumber
          //-     td= invoice.invoiceClass
          //-     td= invoice.invoicePaymentStatus
          //-     td= invoice.partnerPayment.toLocaleString(en-us, { style: 'currency', currency: 'USD' })
          //-     td
          //-       .btn--red.unlink Unlink
          //-         p(hidden)= invoice._id
    else
      p.empty__record no ledger record exist for this job!
    // Horizontal Line
    .line &nbsp;

    .resource-details.modify-resource-job
      .heading__title Job Info
      form
        .form__div
          div(class='box-text-cell')
            p.box-title job Id
            input.input-style-one#jobid(type='text',value=`${job.jobID}`)
          div(class='box-text-cell')
            p.box-title description
            textarea#desc(rows='3' cols='48')= job.jobDescription
          div(class='box-text-cell')
            p.box-title PO
            input.input-style-one#po(type='number',step='any',value=`${job.jobPO}`)
          div(class='box-text-cell')
            p.box-title type
            input.input-style-one#date(type='text', value=`${job.jobType}`)
          div(class='box-text-cell')
            input.input-style-one#docid(type='hidden',value=`${job.id}`)
        .form__cta
          button.btn--cta--save Save Settings
        .line &nbsp;
    .resource-details.delete-resource-job 
      .heading__title Delete Job
      form
        .warning Warning: This action cannot be undone. Dont click the below button on accident!
        .form__cta
          button.btn--cta--red Delete
        .line &nbsp;