extends base

block content
  main
    h2.page__subject Payment Overview
    .table-wrapper
      table.table-data
        tr
          th.th__size-medium payment tag
          th Description
          th.th__size-medium Amount
          th.th__size-small Date
          th.th__size-small option
        each payment in payments
          tr
            td= payment.tag
            td= payment.details
            td= payment.amount.toLocaleString(en-us, { style: 'currency', currency: 'USD' })
            td= payment.date.toLocaleString(en-us, {dateStyle: 'medium'})
            td
             .btn--green
              a(href=`/payment/${payment.paymentRefId}`) Details