extends base

block content
  main
    h2.page__subject Payment details
    - const invoiceCount = paymentStaticsCount
    
    if invoiceCount > 0
      .table-wrapper
        .heading__title Invoice Info
        table.table-data
          tr
            th Description
            th.th__size-small Invoice
            th.th__size-small Class
            th.th__size-small Status
            th.th__size-medium Partner Payment
            th.th__size-small action
          each invoice in paymentStatics
            tr
              td= invoice.description
              td= invoice.invoiceNumber
              td= invoice.invoiceClass
              td= invoice.invoicePaymentStatus
              td= invoice.partnerPayment.toLocaleString(en-us, { style: 'currency', currency: 'USD' })
              td
                .btn--red.unlink Unlink
                  p(hidden)= invoice._id
    else
      p.empty__record no invoice record exist for this payment!
    // Horizontal Line
    .line &nbsp;

    .resource-details.modify-resource-payment
      .heading__title Payment Info
      form
        .form__div
          div(class='box-text-cell')
            p.box-title payment tag
            input.input-style-one#tag(type='text' value=`${payment.tag}`)
          div(class='box-text-cell')
            p.box-title description
            textarea#desc(rows='3' cols='48')= payment.details
          div(class='box-text-cell')
            p.box-title amount
            input.input-style-one#amount(type='text' step='any' name='thousand-convert' value=`${payment.amount}` onfocus='use_number(this)' onblur='use_text(this)')
          div(class='box-text-cell')
            p.box-title date
            input.input-style-one#date(type='date' value=`${payment.date.toLocaleDateString('en-CA')}`)
          div(class='box-text-cell')
            p.box-title invoice payment status
            select.select-style-one#invstatus(name='class')
              option(value='null') Please Select
              option Paid
              option Unpaid
              option Partially Paid
          div(class='box-text-cell')
            input.input-style-one#docid(type='hidden' value=`${payment.id}`)
        .line &nbsp;
        .heading__title Link Invoice
          br
        .modify-field-resource
          .invoice-field-item
            //- POPULATE UNPAID INVOICES HERE
        .form__cta
          button.btn--cta--save Save Settings
        .line &nbsp;
    .resource-details.delete-resource-payment 
      .heading__title Delete Payment
      form
        .warning Warning: This action cannot be undone!
        .form__cta
          button#paydelete.btn--cta--red Delete
        .line &nbsp;