extends base

block content
  main
    h2.page__subject Payment details
    - const invoiceCount = paymentStaticsCount
    if invoiceCount > 0
      .table-wrapper
        .heading__title Invoice Info
        table.table-data
          tr
            th Description
            th.th__size-small Invoice
            th.th__size-small Class
            th.th__size-small Status
            th.th__size-medium Partner Payment
            th.th__size-small action
          each invoice in paymentStatics
            tr
              td= invoice.description
              td= invoice.invoiceNumber
              td= invoice.invoiceClass
              td= invoice.invoicePaymentStatus
              td= invoice.partnerPayment.toLocaleString(en-us, { style: 'currency', currency: 'USD' })
              td
                .btn--red
                  a(href='#') Unlink
    else
      p.empty__record no invoice record exist for this payment!
    // Horizontal Line
    .line &nbsp;

    .resource-details.modify-resource-payment
      .heading__title Payment Info
      form
        .form__div
          div(class='box-text-cell')
            p.box-title payment tag
            input.input-style-one#tag(type='text',value=`${payment.tag}`)
          div(class='box-text-cell')
            p.box-title description
            textarea#desc(rows='3' cols='48')= payment.details
          div(class='box-text-cell')
            p.box-title amount
            input.input-style-one#amount(type='number',step='any',value=`${payment.amount}`)
          div(class='box-text-cell')
            p.box-title date
            input.input-style-one#date(type='date', value=`${payment.date.toLocaleDateString('en-CA')}`)
          div(class='box-text-cell')
            input.input-style-one#docid(type='hidden',value=`${payment.id}`)
        .form__cta
          button.btn--cta--save Save settings
        .line &nbsp;
    .resource-details.invoice-selection
      .heading__title Link Invoice
      br
      form.modify-field-resource
        ul.field-item
          li
            <label for="inv-1"><input type="checkbox" name="invoice" id="inv-1" value="first">First</label>
          li
            <label for="inv-2"><input type="checkbox" name="invoice" id="inv-2" value="second">Second</label>
          li
            <label for="inv-3"><input type="checkbox" name="invoice" id="inv-3" value="third">Third</label>
          li
            <label for="inv-4"><input type="checkbox" name="invoice" id="inv-4" value="fourth">Fourth</label>
          li

        .form__cta
          button.btn--cta--save Link
        .line &nbsp;
    .resource-details.delete-resource-payment 
      .heading__title Delete Payment
      form
        .warning Warning: This action cannot be undone. Dont click the below button on accident!
        .form__cta
          button.btn--cta--red Delete
        .line &nbsp;